@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

body{
    background-color:rgb(29, 25, 25);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -10; 
}

header ul{
    list-style: none;
    display: flex;
    align-items: center;
}

header ul li{
   margin-left: 30px; 
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   color: #fff;   
}

header ul li a{
    display: inline;
    text-decoration: none;
    color: #fff;
}

.wrapper{

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}




#membros {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#membros h2{
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #c6c6c6;
    
}
#conteudomembros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap:5px ;
    row-gap: 10px;
    margin-top: 20px;
    width: 100% ;    
}

.produto {
    width: 325px;
    transition: transform 0.5s;
    position: relative;
}

.produto img{
    width: 100%
}

/* .produto:hover{
    transform: scale(1.05, 1.05);
} */

.descricao{
    font-family: 'Open Sans', sans-serif ;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    color: #fff;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.397);
}


.descricao button{
    padding: 15px;
    margin-top: 5px;
    color: #fff;
    background-color: #222;
    transition: background 0.5s;
}

.descricao button:hover{
    background-color: #111;
}


form imput,
form textarea,
form button {
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    border:1px solid transparent;
    transition: border-color linear 0,2s;
}
form imput:focus
form textarea:focus {
border:2px solid black
}

form textarea{
    resize: none;
}
form-content{
    display: flex;
    background-color: blanchedalmond;
    border-radius: 5px;
    padding: 10px;
    margin:10px auto;
    width: 100%;
    max-width: 500px;

}
.form-group{
    display:flex ;
    flex-direction: column;
}

form button {
    width: 100%;
    margin-top: 30px;
    background-color: brown;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: background  linear 0,2s;
}
form button:hover{
background-color:white
}
    #form-content:{
        display:flex;
        background: white;
    }